{
  "sources": [
    {
      "name": "CustomUserControlled",
      "comment": "use to annotate user input"
    }
  ],

  "sinks": [
    {
      "name": "SessionFixation",
      "comment": "use to annotate control of session recall session"
    }
  ],

  "features": [],

  "rules": [
    {
      "name": "Possible Session Fixation",
      "code": 5001,
      "sources": [ "CustomUserControlled" ],
      "sinks": [ "SessionFixation" ],
      "message_format": "User specified data may fix session"
    }
  ]
}
